{% extends "base.html" %}

{% block title %}
  CTG SampleSheet Generator - {{ super() }}
{% endblock %}

{% block content %}
  <h1>Check all that applies</h1>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <div></div>
      <h3>Is this a dev project?</h3>
      <label for="Dev">Dev</label>
      <input type="checkbox" id="checkbox_dev" name="checkbox_dev">
      <div></div>
      <h3>Raw data only?</h3>
      <label for="Raw">Raw</label>
      <input type="checkbox" id="checkbox_raw" name="checkbox_raw">
        <label for="pid">Project ID</label>
        <input type="text" id="pid" name="pid" pattern="^\d{4}_\d{3}$">
      <div></div>
      <h3>Flowcell serial number:</h3>
      <input type="text" id="flowcell" name="flowcell">
      <div></div>
      <h2>Reverse Complement Index2?</h2>
      <label for="RC">RC Index2</label>
      <input type="checkbox" id="checkbox_rc" name="checkbox_rc">
    </div>
    <div class="form-group">
        <label for="select">Select which sequencer</label>
        <select class="form-control" id="select" name="sequencer">
          <option value="Nextseq 2000">Nextseq2000</option>
          <option value="Miseq">Miseq</option>
          <option value="Novaseq">Novaseq6000</option>
        </select>
    </div>
    <div class="form-group">
        <label for="samples">Upload samples.csv</label>
        <input type="file" class="form-control-file" id="samples" name="samples">
    </div>
    <div class="form-group">
      <label for="projects">Upload projects.csv</label>
      <input type="file" class="form-control-file" id="projects" name="projects">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}
