{% extends "base.html" %}

{% block title %}
  CTG SampleSheet Generator - {{ super() }}
{% endblock %}

{% block content %}
<style>
  table {
    border:1px solid #b3adad;
    border-collapse:collapse;
    padding:5px;
  }
  table th {
    border:1px solid #b3adad;
    padding:5px;
    background: #f0f0f0;
    color: #313030;
  }
  table td {
    border:1px solid #b3adad;
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
  }
</style>
  <h1>Check all that applies</h1>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <div></div>
      <h3>Is this a dev project?</h3>
      <label for="Dev">Dev</label>
      <input type="checkbox" id="checkbox_dev" name="checkbox_dev">
      <div></div>
      <h3>Flowcell serial number:</h3>
      <input type="text" id="flowcell" name="flowcell" pattern="^\w+$">
      <div></div>
      <h2>Reverse Complement Index2?</h2>
      <p>
        <h5>When to check this box:</h3>
        <ul>
          <li>If you are using Davids excel sheet and NovaseqX, you should check this box.</li>
          <li>If you are not using Davids excel sheet and Novaseq6000, you should check this box.</li>
        </ul>
        <br>
        Otherwise you should (probably) not check this box!
        <br><br>
        * Always check which orientation the index in your source is in, default should be Forward.
        <br>
        <a href="https://knowledge.illumina.com/software/general/software-general-reference_material-list/000001800">Illumina support</a>
      </p>
      <label for="RC">RC Index2 (Novaseq 6000)</label>
      <input type="checkbox" id="checkbox_rc" name="checkbox_rc">
    </div>
    <div class="form-group">
        <label for="select">Select which sequencer</label>
        <select class="form-control" id="select" name="sequencer">
          <option value="Nextseq 2000">Nextseq2000</option>
          <option value="Miseq">Miseq</option>
          <option value="Novaseq">Novaseq6000</option>
          <option value="Novaseq">NovaseqX</option>
        </select>
    </div>
    <div>
      <h3>Instructions:</h3>
      <p>Download and fill out one samples.csv and one projects.csv.
        The samples.csv is named after the analysis that we perform, eg
        dna_samples.csv, rna_samples.csv and so on.
        <br>

        There is only one projects.csv (link below), when you open it you will find
        that it tracks information on a project level whereas the samples.csv tracks
        sample level information.
        <br>
        Lanes:<br>
        The Lane column can be added to any samples.csv. 
        Samples must be specified with one row for every lane that sample is found on.
        <br>
        Eg:<br>
        Sample1, 1<br>
        Sample1, 2<br>
        Sample1, 3<br>
        <br>
        The above means we expect that sample to be found on lane 1, 2 and 3. 
        <br>
        All csv files can be found at the <a href="https://github.com/ctg-lund/Templates/tree/main/PEP/All">templates repo</a>
        <br>
        <br>
        <a href="https://github.com/ctg-lund/Templates/blob/main/PEP/All/dna_samples.csv">dna_samples.csv</a>
        <br>
        <a href="https://github.com/ctg-lund/Templates/blob/main/PEP/All/rna_samples.csv">rna_samples.csv</a>
        <br>
        And the projects file:
        <br>
        <a href="https://github.com/ctg-lund/Templates/blob/main/PEP/All/projects.csv">projects.csv</a>
      </p>

    </div>
    <div class="form-group">
        <label for="samples">Upload samples.csv</label>
        <input type="file" class="form-control-file" id="samples" name="samples">
    </div>
    <div class="form-group">
      <label for="projects">Upload projects.csv</label>
      <input type="file" class="form-control-file" id="projects" name="projects">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}
